* {
    font-family: 'Chela One', cursive;
}
.header {
    margin: -10px;
    background: linear-gradient( rgb(189, 188, 188), rgb(203, 194, 238))
}
.container {
    width: 75%;
    margin: auto;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.cubo {
    width: 85px;
    cursor: pointer;
    display: inline-block;
}

.titulo {
    display: inline-block;  
}
.titulo h2 {
    margin: 0;
}
.menu { 
    display: flex;
    justify-content: flex-start;
}
.menu a {
    margin-right: -4px;
    text-decoration: none;
    font-size: 18px;
    color: peru;
    padding: 17px;
    background-image: radial-gradient(white, lightgray);
}
.menu a:hover {
    background-image: radial-gradient(white, rgb(37, 37, 37));
}

.menu a:active {
   background-image: gray;
   color: rgb(146, 146, 216);
}

.btn {
    position: relative; 
    margin-left: 8px; 
    top: 7px;
}

.boton {
    border: none;
    background-color: peru;
    padding: 7px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(240, 239, 207);
    border-radius: 6px;
    transition: 0.3s;
}
.boton:hover {
    background-color: rgb(124, 94, 64);
    
}
.boton:active {
    background-color: rgb(77, 65, 53);
}